<footer class="footer" style="position: fixed;">
    <div class="container-fluid text-center">
      <span class="text-muted">@2022. Demo NodeJS by Aissam</span>
    </div>
  </footer>
</body>
</html>